[submodule "errorDashboardJS"]
	path = errorDashboardJS
	url = https://github.com/HiQ-Apps/errorDashboardJS
[submodule "error_dashboard_python"]
	path = error_dashboard_python
	url = https://github.com/HiQ-Apps/error_dashboard_python
